*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #ccc;
}

.container {
    <<<<<<< HEAD=======width: 350px;
    height: 180px;
    >>>>>>>test background-color: lightblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    <<<<<<< HEAD=======
}

label {
    width: 150px;
}

input {
    width: 180px;
    border: 2px solid red;
    border-radius: 10px;
    >>>>>>>test
}